<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Matt Santos' Warwick Programming Test</title>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Bootstrap -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <!-- Custom Styles -->
    <link th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Warwick CSV Importer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="form" method="POST" enctype="multipart/form-data" action="/">
                <div class="form-group">
                    <input type="file" name="file" placeholder="CSV File" class="form-control"/>
                </div>
                <button type="submit" class="btn btn-success">Import it!</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="jumbotron" th:if="${lines.isEmpty()}">
    <div class="container">
        <h1>CSV Importer System</h1>
        <p>This system allows you to import a CSV file and process their content to be displayed in this page below as a
            table filtering their content following the specification rules.</p>
    </div>
</div>

<div class="container">
    <div class="alert alert-success alert-dismissible" role="alert" th:if="${message}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <span th:text="${message}"></span>
    </div>
    <div class="row" th:if="${!lines.isEmpty()}">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th th:each="column : ${dynamicColumns}"><span th:text="${column}"></span></th>
                <th>Decision</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="line : ${lines}">
                <td th:text="${line['Id']}"></td>
                <th th:each="column : ${dynamicColumns}"><span th:text="${line[__${column}__]}"></span></th>
                <td th:text="${line['Decision']}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" th:if="${lines.isEmpty()}">
        <p class="text-center">There is no content to show.<br/>Please import your CSV file on the top of this page.</p>
    </div>

    <hr/>

    <footer>
        <p>&copy; 2017 Warwick Analytics. All rights reserved. Registered in England &amp; Wales.<br/>Number 07724630.
            Registered address 35 Kingsland Road, London, E2 8AA. VAT 120435168.</p>
    </footer>
</div> <!-- /container -->

<script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

</body>
</html>